eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
      

server:
  port: 8763
spring:
  application:
    name: service-say-hello
spring.zipkin.base-url: http://localhost:9411