eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 8766
spring:
  application:
    name: zuul-server
zuul:
  routes:
    say-hello-service:
      path: /service-say-hello/**
      serviceId: service-say-hello
    greeting-service:
      path: /greeting-service/**
      serviceId: greeting-service
