eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
      

server:
  port: 8770
spring:
  application:
    name: user-service
  datasource: 
    type: com.alibaba.druid.pool.DruidDataSource
    platform: mysql
    url: jdbc:mysql://localhost:3306/eshop
    username: root
    password: root